In [2]:
#Fetch the data
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

# Start the web driver and open the web page
driver = webdriver.Firefox()
driver.get('https://qrco.de/beV4dT')  # Replace with the URL of the web page you want to scrape

# Find and retrieve all tables
tables = driver.find_elements(By.TAG_NAME, 'table')

table_data = {}  # Dictionary to store the table data

for table in tables:
    # Get the ID attribute of the table, or use a default name if it doesn't have an ID
    table_id = table.get_attribute('id')
    if not table_id:
        table_id = f"table_{len(table_data) + 1}"

    # Parse the HTML table with BeautifulSoup
    table_html = table.get_attribute('outerHTML')
    df = pd.read_html(table_html)[0]  # Assuming there's only one table per page, change the index if needed

    # Store the DataFrame in the dictionary with the table's ID as the key
    table_data[table_id] = df

# Clean up and close the web driver
driver.quit()

# Now you can work with the dictionary where keys are table IDs and values are DataFrames
for table_id, df in table_data.items():
    print(f"Table ID: {table_id}")
    print(df)

Table ID: table_1
               National      Année                                    \
               National       1976       1988       2002        2013
0             Effectifs  4 958 085  6 881 919  9 858 482  13 508 715
1              Périodes  1976-1988  1988-2002  2002-2013   2013-2023
2  Taux d'accroissement         27         25         29          29


         2023
0  18 032 473
1   2013-2023
2          29
Table ID: pop_sous_groupe
                                     Sous population       Sexe             \
                                     Sous population   Masculin    Féminin
0  Population normalement domiciliée (Résident da...  8 752 399  8 836 721
1  Population comptée à part (Résident dans les m...    371 407     60 066
2  Population flottante (ne résident pas dans les...      8 053      3 827
3                                            SENEGAL  9 131 859  8 900 614

        Total
        Total
0  17 589 121
1     431 473
2      11 880
3  18 032 473
Table ID: pop_grand_groupe
     Groupes d’âge       Sexe               Ensemble Rapport de masculinité
     Groupes d’âge   Masculin    Féminin    Ensemble Rapport de masculinité
0  Moins de 15 ans  3 711 055  3 349 515   7 060 570                 110.79
1            15-34  3 194 796  3 258 003   6 452 799                  98.06
2            35-59  1 706 770  1 737 760   3 444 529                  98.22
3           60 et+    519 239    555 336   1 074 575                  93.50
4          SENEGAL  9 131 859  8 900 614  18 032 473                 102.60
Table ID: pop_resid_region
         Région       Sexe               Ensemble
         Région   Masculin    Féminin    Ensemble
0         DAKAR  1 965 101  1 931 463   3 896 564
1      DIOURBEL  1 029 953  1 050 858   2 080 811
2        FATICK    454 783    454 075     908 858
3      KAFFRINE    416 297    404 989     821 287
4       KAOLACK    675 832    662 839   1 338 671
5      KEDOUGOU    132 327    112 960     245 288
6         KOLDA    468 769    447 744     916 513
7         LOUGA    564 468    562 651   1 127 119
8         MATAM    429 115    404 541     833 657
9   SAINT-LOUIS    612 088    592 775   1 204 863
10      SEDHIOU    303 334    287 450     590 784
11  TAMBACOUNDA    504 595    483 598     988 193
12        THIES  1 258 870  1 208 652   2 467 523
13   ZIGUINCHOR    316 326    296 018     612 343
14      SENEGAL  9 131 859  8 900 614  18 032 473
Table ID: pop_densite_region
         Région Densité (Habitants/km2
0         DAKAR                  7 277
1      DIOURBEL                    428
2        FATICK                    130
3      KAFFRINE                     74
4       KAOLACK                    252
5      KEDOUGOU                     15
6         KOLDA                     67
7         LOUGA                     44
8         MATAM                     29
9   SAINT-LOUIS                     63
10      SEDHIOU                     80
11  TAMBACOUNDA                     23
12        THIES                    375
13   ZIGUINCHOR                     84
14      SENEGAL                     92
Table ID: resid_departement
         Région         Département     Hommes     Femmes    Ensemble
0         DAKAR               DAKAR    591 687    590 730   1 182 417
1         DAKAR          GUEDIAWAYE    186 058    187 580     373 638
2         DAKAR         KEUR MASSAR    384 527    375 322     759 849
3         DAKAR              PIKINE    387 192    371 362     758 554
4         DAKAR            RUFISQUE    415 637    406 469     822 105
5      DIOURBEL              BAMBEY    184 420    192 526     376 945
6      DIOURBEL            DIOURBEL    173 364    170 745     344 108
7      DIOURBEL              MBACKE    672 170    687 587   1 359 757
8        FATICK              FATICK    205 914    203 369     409 283
9        FATICK         FOUNDIOUGNE    186 192    190 216     376 408
10       FATICK              GOSSAS     62 677     60 489     123 167
11     KAFFRINE            KAFFRINE    140 608    140 360     280 969
12     KAFFRINE           BIRKELANE     76 408     74 798     151 205
13     KAFFRINE           KOUNGHEUL    128 864    124 847     253 710
14     KAFFRINE        MALEM HODDAR     70 418     64 985     135 403
15      KAOLACK             KAOLACK    334 014    330 994     665 008
16      KAOLACK          GUINGUINEO     82 943     77 540     160 483
17      KAOLACK               NIORO    258 875    254 306     513 181
18     KEDOUGOU            KEDOUGOU     65 612     58 653     124 265
19     KEDOUGOU            SALEMATA     14 173     13 938      28 111
20     KEDOUGOU              SARAYA     52 543     40 369      92 912
21        KOLDA               KOLDA    165 028    159 407     324 434
22        KOLDA  MEDINA YORO FOULAH     95 860     89 716     185 575
23        KOLDA           VELINGARA    207 881    198 622     406 504
24        LOUGA               LOUGA    236 852    241 035     477 887
25        LOUGA             KEBEMER    169 061    167 340     336 401
26        LOUGA            LINGUERE    158 555    154 275     312 831
27        MATAM               MATAM    201 916    185 951     387 866
28        MATAM               KANEL    173 543    168 964     342 507
29        MATAM       RANEROU FERLO     53 656     49 627     103 283
30  SAINT-LOUIS         SAINT LOUIS    197 217    190 296     387 513
31  SAINT-LOUIS              DAGANA    171 406    158 724     330 130
32  SAINT-LOUIS               PODOR    243 464    243 755     487 220
33      SEDHIOU          BOUNKILING    107 568    100 812     208 380
34      SEDHIOU             GOUDOMP     95 926     92 611     188 537
35      SEDHIOU             SEDHIOU     99 840     94 026     193 867
36  TAMBACOUNDA         TAMBACOUNDA    217 953    209 466     427 419
37  TAMBACOUNDA               BAKEL     97 109     93 392     190 501
38  TAMBACOUNDA             GOUDIRY     85 761     85 055     170 816
39  TAMBACOUNDA         KOUMPENTOUM    103 772     95 685     199 457
40        THIES               THIES    442 793    437 473     880 266
41        THIES               MBOUR    482 226    454 964     937 189
42        THIES           TIVAOUANE    333 852    316 216     650 067
43   ZIGUINCHOR             BIGNONA    148 831    136 066     284 897
44   ZIGUINCHOR            OUSSOUYE     27 563     25 320      52 883
45   ZIGUINCHOR          ZIGUINCHOR    139 932    134 631     274 563
46      SENEGAL               TOTAL  9 131 859  8 900 614  18 032 473
Table ID: type_men_tab
         Région         Département    Types de ménage                     \
         Région         Département          Ordinaire          Collectif
         Région         Département Unnamed: 2_level_2 Unnamed: 3_level_2
0         DAKAR               DAKAR          1 159 419             20 620
1         DAKAR          GUEDIAWAYE            369 124              4 461
2         DAKAR         KEUR.MASSAR            742 241             17 530
3         DAKAR              PIKINE            751 318              6 784
4         DAKAR            RUFISQUE            803 036             18 942
5      DIOURBEL              BAMBEY            373 124              3 730
6      DIOURBEL            DIOURBEL            333 433             10 648
7      DIOURBEL              MBACKE          1 300 107             59 471
8        FATICK              FATICK            404 069              5 117
9        FATICK         FOUNDIOUGNE            368 669              7 457
10       FATICK              GOSSAS            120 247              2 828
11     KAFFRINE            KAFFRINE            271 248              9 501
12     KAFFRINE           BIRKELANE            147 177              4 016
13     KAFFRINE           KOUNGHEUL            245 421              7 375
14     KAFFRINE        MALEM.HODDAR            129 966              5 266
15      KAOLACK             KAOLACK            639 328             25 314
16      KAOLACK          GUINGUINEO            156 536              3 911
17      KAOLACK               NIORO            500 898             12 251
18     KEDOUGOU            KEDOUGOU            122 022              2 225
19     KEDOUGOU            SALEMATA             27 741                355
20     KEDOUGOU              SARAYA             91 335              1 233
21        KOLDA               KOLDA            322 242              2 175
22        KOLDA  MEDINA.YORO.FOULAH            181 603              3 970
23        KOLDA           VELINGARA            404 368              2 088
24        LOUGA               LOUGA            464 478             13 389
25        LOUGA             KEBEMER            328 460              7 934
26        LOUGA            LINGUERE            304 661              6 848
27        MATAM               MATAM            364 149             23 401
28        MATAM               KANEL            330 959             11 522
29        MATAM             RANEROU            100 700                537
30  SAINT-LOUIS         SAINT.LOUIS            370 091             17 362
31  SAINT-LOUIS              DAGANA            323 771              6 265
32  SAINT-LOUIS               PODOR            475 876             11 016
33      SEDHIOU          BOUNKILING            201 989              6 387
34      SEDHIOU             GOUDOMP            185 848              2 689
35      SEDHIOU             SEDHIOU            187 538              6 325
36  TAMBACOUNDA         TAMBACOUNDA            419 622              7 324
37  TAMBACOUNDA               BAKEL            186 102              4 385
38  TAMBACOUNDA             GOUDIRY            168 966              1 668
39  TAMBACOUNDA         KOUMPENTOUM            195 762              3 615
40        THIES               THIES            860 005             20 132
41        THIES               MBOUR            919 695             17 393
42        THIES           TIVAOUANE            633 631             16 159
43   ZIGUINCHOR             BIGNONA            281 245              3 466
44   ZIGUINCHOR            OUSSOUYE             52 011                773
45   ZIGUINCHOR          ZIGUINCHOR            268 887              5 615
46      SENEGAL               TOTAL         17 589 121            431 473


             Flottant              Total
   Unnamed: 4_level_2 Unnamed: 5_level_2
0               2 377          1 182 416
1                  53            373 638
2                  78            759 849
3                 452            758 554
4                 127            822 105
5                  91            376 945
6                  27            344 108
7                 179          1 359 757
8                  97            409 283
9                 282            376 408
10                 92            123 167
11                220            280 969
12                 12            151 205
13                914            253 710
14                171            135 403
15                366            665 008
16                 36            160 483
17                 32            513 181
18                 18            124 265
19                 15             28 111
20                344             92 912
21                 17            324 434
22                  2            185 575
23                 48            406 504
24                 20            477 887
25                  7            336 401
26              1 322            312 831
27                316            387 866
28                 26            342 507
29              2 046            103 283
30                 60            387 513
31                 94            330 130
32                328            487 220
33                  4            208 380
34                  0            188 537
35                  4            193 867
36                473            427 419
37                 14            190 501
38                182            170 816
39                 80            199 457
40                129            880 266
41                101            937 189
42                277            650 067
43                186            284 897
44                 99             52 883
45                 61            274 563
46             11 879         18 032 473
Table ID: taille_moy_dept
         Région         Département  Taille moyenne des ménages ordinaires
0         DAKAR               DAKAR                                   5.20
1         DAKAR          GUEDIAWAYE                                   6.76
2         DAKAR         KEUR.MASSAR                                   7.03
3         DAKAR              PIKINE                                   6.57
4         DAKAR            RUFISQUE                                   7.43
5      DIOURBEL              BAMBEY                                  11.82
6      DIOURBEL            DIOURBEL                                  10.99
7      DIOURBEL              MBACKE                                  10.37
8        FATICK              FATICK                                   9.48
9        FATICK         FOUNDIOUGNE                                  11.00
10       FATICK              GOSSAS                                  10.79
11     KAFFRINE            KAFFRINE                                  11.00
12     KAFFRINE           BIRKELANE                                  11.45
13     KAFFRINE           KOUNGHEUL                                  10.75
14     KAFFRINE        MALEM.HODDAR                                  11.84
15      KAOLACK             KAOLACK                                   9.81
16      KAOLACK          GUINGUINEO                                  10.57
17      KAOLACK               NIORO                                  12.35
18     KEDOUGOU            KEDOUGOU                                   7.93
19     KEDOUGOU            SALEMATA                                   7.08
20     KEDOUGOU              SARAYA                                   8.24
21        KOLDA               KOLDA                                  10.04
22        KOLDA  MEDINA.YORO.FOULAH                                  12.11
23        KOLDA           VELINGARA                                  10.42
24        LOUGA               LOUGA                                   9.35
25        LOUGA             KEBEMER                                   9.74
26        LOUGA            LINGUERE                                   8.60
27        MATAM               MATAM                                  10.93
28        MATAM               KANEL                                  14.07
29        MATAM             RANEROU                                   8.26
30  SAINT-LOUIS         SAINT.LOUIS                                   8.44
31  SAINT-LOUIS              DAGANA                                   8.41
32  SAINT-LOUIS               PODOR                                   9.10
33      SEDHIOU          BOUNKILING                                  11.70
34      SEDHIOU             GOUDOMP                                  12.23
35      SEDHIOU             SEDHIOU                                  11.78
36  TAMBACOUNDA         TAMBACOUNDA                                  10.39
37  TAMBACOUNDA               BAKEL                                  13.31
38  TAMBACOUNDA             GOUDIRY                                  13.83
39  TAMBACOUNDA         KOUMPENTOUM                                  10.18
40        THIES               THIES                                   9.38
41        THIES               MBOUR                                   8.42
42        THIES           TIVAOUANE                                  10.64
43   ZIGUINCHOR             BIGNONA                                   7.66
44   ZIGUINCHOR            OUSSOUYE                                   4.57
45   ZIGUINCHOR          ZIGUINCHOR                                   7.13
46      SENEGAL               TOTAL                                   8.83
Table ID: men_agri_tab
         Région Nombre men. agricole     Taille moyenne                     \
         Région Nombre men. agricole Unnamed: 2_level_1 Unnamed: 3_level_1
         Région Nombre men. agricole Unnamed: 2_level_2 Unnamed: 3_level_2
0         DAKAR               85 351                 10                NaN
1      DIOURBEL               74 973                 12                NaN
2        FATICK               64 144                 11                NaN
3      KAFFRINE               58 613                 12                NaN
4       KAOLACK               76 453                 12                NaN
5      KEDOUGOU               15 892                 10                NaN
6         KOLDA               63 967                 12                NaN
7         LOUGA               85 236                 10                NaN
8         MATAM               50 694                 13                NaN
9   SAINT.LOUIS               84 095                 10                NaN
10      SEDHIOU               34 455                 13                NaN
11  TAMBACOUNDA               59 223                 13                NaN
12        THIES              110 918                 12                NaN
13   ZIGUINCHOR               44 614                  8                NaN
14     Ensemble              908 628                 11                NaN


   Unnamed: 4_level_1
   Unnamed: 4_level_2
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN

In [34]:
pd.DataFrame([table_data]).to_json('recensement.json')

In [43]:
for key, value in table_data.items():
    value.to_csv(f"donnees_recensement/{key}.csv")

In [49]:
!ls donnees_recensement/

men_agri_tab.csv	pop_resid_region.csv   taille_moy_dept.csv
pop_densite_region.csv	pop_sous_groupe.csv    taux_accroissement.csv
pop_grand_groupe.csv	resid_departement.csv  type_men_tab.csv

In [50]:
len(table_data)

9

In [62]:
#Fetch the graphical representations 
from selenium import webdriver
import time

# URL of the web page with animated SVG images
url = "https://qrco.de/beV4dT"  # Replace with the URL of the web page

# Initialize a headless Chrome browser
driver = webdriver.Firefox()
# Navigate to the web page
driver.get(url)

# Wait for the page to load (adjust the wait time as needed)
time.sleep(30)

# Find and retrieve all SVG elements with animations
svg_elements = driver.find_elements(By.TAG_NAME, 'svg')

# Download and save each animated SVG with its animation
for i, svg_element in enumerate(svg_elements):
    # Generate a unique filename for each SVG
    filename = f"animated_svg_{i}.svg"

    # Get the inner HTML of the SVG element
    svg_inner_html = svg_element.get_attribute("innerHTML")

    # Save the SVG to a file
    with open("graphics/"+filename, "w", encoding="utf-8") as svg_file:
        svg_file.write(f'<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">{svg_inner_html}</svg>')

    print(f"Saved {filename}")

# Close the browser
driver.quit()

Saved animated_svg_0.svg
Saved animated_svg_1.svg
Saved animated_svg_2.svg

In [72]:
from selenium import webdriver
import time

# URL of the web page with animated SVG images
url = "https://qrco.de/beV4dT"  # Replace with the URL of the web page

# Initialize a Firefox browser

driver = webdriver.Firefox()

# Navigate to the web page
driver.get(url)

# Wait for the page to load (adjust the wait time as needed)
time.sleep(30)

# Find and retrieve all SVG elements with animations
svg_elements = driver.find_elements(By.TAG_NAME, 'svg')

# Download and save each animated SVG with its animation
for i, svg_element in enumerate(svg_elements):
    # Generate a unique filename for each SVG
    filename = f"animated_svg_{i}.svg"

    # Get the inner HTML of the SVG element
    svg_inner_html = svg_element.get_attribute("innerHTML")

    # Save the SVG to a file
    with open("graphics/"+filename, "w", encoding="utf-8") as svg_file:
        svg_file.write(f'<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">{svg_inner_html}</svg>')

    print(f"Saved {filename}")

# Close the browser
driver.quit()

Saved animated_svg_0.svg
Saved animated_svg_1.svg
Saved animated_svg_2.svg

In [73]:
!xdg-open graphics/